:root {
  --box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.container {
  width: 100%;
  max-width: 960px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  color: #262626;
  border: 1px solid #f8f8f8;
}

.head {
  width: 100%;
  font-size: 18px;
}

.content {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0 1rem;
}

.code {
  /* Style the code tag with dark theme */
  background-color: #282b38;
  color: #f7f7f7;
  padding: 1rem;
  border-radius: 8px;
  font-size: 12px;
  font-family: monospace;
  overflow-x: auto;
  box-shadow: var(--box-shadow);
}
